<div class="card form-card mx-auto mt-3">
  <div class="card-header">Login</div>
  <div class="card-body">
    <form [formGroup]="loginForm">
      <!-- ----------------------------------------------------------------- -->
      <!-- Email address -->
      <!-- ----------------------------------------------------------------- -->
      <div class="">
        <label for="email" class="form-label">Email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          formControlName="email"
          [placeholder]="'Enter email address'"
        />
        <span class="err-msg" *ngIf="!Email.valid && Email.touched"
          >*Email is required</span
        >
      </div>
      <!-- ----------------------------------------------------------------- -->
      <!-- Password -->
      <!-- ----------------------------------------------------------------- -->
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
          [placeholder]="'Enter password'"
        />
        <span class="err-msg" *ngIf="!Password.valid && Password.touched"
          >*Password is required</span
        >
      </div>

      <!-- ----------------------------------------------------------------- -->
      <!-- Form buttons -->
      <!-- ----------------------------------------------------------------- -->
      <button type="reset" class="btn btn-danger me-2">Cancel</button>
      <button
        [disabled]="!loginForm.valid"
        type="submit"
        (click)="login()"
        class="btn btn-primary"
      >
        Login
      </button>
    </form>
  </div>
</div>
