<div class="card form-card mx-auto mt-3">
  <div class="card-header">Login</div>
  <div class="card-body">
    <form>
      <!-- ----------------------------------------------------------------- -->
      <!-- Email address -->
      <!-- ----------------------------------------------------------------- -->
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" />
        <!-- ----------------------------------------------------------------- -->
        <!-- Password -->
        <!-- ----------------------------------------------------------------- -->
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" />
        </div>
        <!-- ----------------------------------------------------------------- -->
        <!-- Form buttons -->
        <!-- ----------------------------------------------------------------- -->
        <button type="reset" class="btn btn-danger me-2">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>
