<!-- Reactive form -->
<div class="card w-50 mx-auto mt-3">
  <div class="card-header">Register</div>
  <div class="card-body">
    <!-- Test -->
    {{ registrationForm.value | json }}
    {{ registrationForm.status | json }}
    <!-- Test -->
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
        />
        <span
          class="err-msg"
          *ngIf="
            !registrationForm.get('name')?.valid &&
            registrationForm.get('name')?.touched
          "
          >Please provide name</span
        >
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          formControlName="email"
        />
        <span
          class="err-msg"
          *ngIf="
            !registrationForm.get('email')?.valid &&
            registrationForm.get('email')?.touched
          "
          >Please provide email</span
        >
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
        />
        <span
          class="err-msg"
          *ngIf="
            !registrationForm.get('password')?.valid &&
            registrationForm.get('password')?.touched
          "
          >Please provide password</span
        >
      </div>
      <div class="mb-3">
        <label for="cpassword" class="form-label">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          id="cpassword"
          formControlName="confirmPassword"
        />
        <span
          class="err-msg"
          *ngIf="
            !registrationForm.get('confirmPassword')?.valid &&
            registrationForm.get('confirmPassword')?.touched
          "
          >Please provide confirm password</span
        >
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Phone number</label>
        <input
          type="text"
          class="form-control"
          id="phone"
          formControlName="phoneNumber"
        />
        <span
          class="err-msg"
          *ngIf="
            !registrationForm.get('phoneNumber')?.valid &&
            registrationForm.get('phoneNumber')?.touched
          "
          >Please provide confirm phone number</span
        >
      </div>
      <button type="reset" class="btn btn-danger me-2">Cancel</button>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</div>
