<!-- Reactive form -->
<div class="card w-50 mx-auto mt-3">
  <div class="card-header">Register</div>
  <div class="card-body">
    <!-- Test -->
    {{ registrationForm.value | json }}
    <!-- Using pipe to convert to json -->
    {{ registrationForm.status | json }}
    <!-- Test -->
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <!-- ----------------------------------------------------------------- -->
      <!-- Name -->
      <!-- ----------------------------------------------------------------- -->
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
        />
        <span class="err-msg" *ngIf="!Name.valid && Name.touched"
          >Please provide name</span
        >
      </div>
      <!-- ----------------------------------------------------------------- -->
      <!-- Email address -->
      <!-- ----------------------------------------------------------------- -->
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          formControlName="email"
        />
        <span class="err-msg" *ngIf="!Email.valid && Email.touched">
          <span *ngIf="Email.hasError('required')">Please provide email</span>
          <span *ngIf="Email.hasError('email')"
            >Please provide a valid email</span
          >
        </span>
      </div>
      <!-- ----------------------------------------------------------------- -->
      <!-- Password -->
      <!-- ----------------------------------------------------------------- -->
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
        />
        <span class="err-msg" *ngIf="!Password.valid && Password.touched">
          <span *ngIf="Password.hasError('required')"
            >Please provide password</span
          >
          <span *ngIf="Password.hasError('minlength')"
            >Password must be at least 8 characters long</span
          >
        </span>
      </div>
      <!-- ----------------------------------------------------------------- -->
      <!-- Confirm Password -->
      <!-- ----------------------------------------------------------------- -->
      <div class="mb-3">
        <label for="cpassword" class="form-label">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          id="cpassword"
          formControlName="confirmPassword"
        />
        <span
          class="err-msg"
          *ngIf="!ConfirmPassword.valid && ConfirmPassword.touched"
        >
          <span *ngIf="ConfirmPassword.hasError('required')"
            >Please provide confirm password</span
          >
        </span>
        <span
          class="err-msg"
          *ngIf="
            registrationForm.hasError('notmatched') && ConfirmPassword.valid
          "
          >Password not matched</span
        >
      </div>
      <!-- ----------------------------------------------------------------- -->
      <!-- Phone number -->
      <!-- ----------------------------------------------------------------- -->
      <div class="mb-3">
        <label for="phone" class="form-label">Phone number</label>
        <input
          type="text"
          class="form-control"
          id="phone"
          formControlName="phoneNumber"
        />
        <span class="err-msg" *ngIf="!PhoneNumber.valid && PhoneNumber.touched"
          >Please provide phone number</span
        >
      </div>
      <!-- ----------------------------------------------------------------- -->
      <!-- Form buttons -->
      <!-- ----------------------------------------------------------------- -->
      <button type="reset" class="btn btn-danger me-2">Cancel</button>
      <button
        [disabled]="!registrationForm.valid"
        type="submit"
        class="btn btn-primary"
      >
        Save
      </button>
    </form>
  </div>
</div>
