<div class="card shadow-lg mt-3 mb-5" style="width: 18rem">
  <div class="img-wrapper w-100">
    <div
      class="image-loading w-100 h-100 d-flex align-items-center justify-content-center"
      *ngIf="imgLoading"
    >
      Loading...
    </div>
    <img
      *ngIf="!property.Image"
      src="assets/images/prop-default.jpg"
      class="card-img-top"
      alt="..."
      (load)="imgLoading = false"
    />
    <img
      *ngIf="property.Image"
      src="assets/images/{{ property.Image }}.jpg"
      class="card-img-top"
      alt="..."
      (load)="imgLoading = false"
    />
  </div>
  <div class="card-body">
    <div class="card-text">
      <h2>
        {{
          property.Name.length > 10
            ? property.Name.slice(0, 10) + "..."
            : property.Name
        }}
      </h2>
      <span
        *ngIf="onLogin() && showWishList"
        #wishlistSpan
        class="wishlist"
        tooltip="Add to wishlist"
        placement="top"
        (click)="Wishlist()"
      >
        <i *ngIf="!wishListed" class="fa-regular fa-heart"></i>
        <i
          *ngIf="wishListed"
          style="color: #b46060"
          class="fa-solid fa-heart"
        ></i>
      </span>
      <h5>{{ property.PropertyType }}</h5>
      <h5>{{ property.Price }}</h5>
    </div>
    <div class="details-btn mt-3">
      <button
        [disabled]="detailsBtnDisabled"
        class="btn btn-secondary w-100 p-2"
        routerLink="/property-detail/{{ property.Id }}"
      >
        <i class="fa-solid fa-circle-info"></i> &nbsp; Details
      </button>
    </div>
  </div>
</div>
